{% extends "base.html" %} {% block head %} {% for feed in feeds %}
<link
  rel="alternate"
  type="application/rss+xml"
  title="{{ feed.name }}"
  href="/static/{{ feed.id }}.rss.xml"
/>
{% endfor %} {% endblock %} {% block content %}
<div>
  <p>
    Logged in as {{ user.first_name }} {{ user.last_name }} ({{ user.username
    }}).
  </p>
  <p>Available feeds:</p>
  <ul>
    {% for feed in feeds %}
    <li>
      <p>
        <a href="/static/{{ feed.id }}.rss.xml">{{ feed.name }}</a>
      </p>
      <p>Last update: {{ feed.last_update }}</p>
    </li>
    {% else %}
    <p>No feeds available.</p>
    <p>
      Return in a few minutes if you just logged in. Otherwise, check the logs.
    </p>
    {% endfor %}
  </ul>
</div>
{% endblock %}
